{% extends "doit/base.html" %}

{% block title %}Data Source Index{% endblock %}

{% block content %}
    <div style="margin:0 auto;width:800px;">
      <!--<a href="./lowscorers/">Lowest scoring attributes</a>-->
      <form id="process-source-form" action="/doit/{{ dbname }}/process/">
        <fieldset>
          <legend>Process a new source</legend>
          <div>
            <label for="new-source">Enter source ID here:</label>
            <input type="text" id="new-source" name="sid" value=""></input>
            <input type="submit" name="submit" value="Go"></input>
          </div>
          <div>Note: processing results may take a few minutes!</div>
          <div>Status: <span class="status"></span></div>
        </fieldset>
      </form>
      {% if source_list %}
      <h3>Available Sources:</h3>
      <table>
      {% for s in source_list %}
        <tr>
          <td><a href="./{{ s.id }}/">{{ s.id }}</a></td>
          <td title="{{ s.n_mapped }} out of {{ s.n_attr }} attributes mapped."
              style="padding-left:2em;font-weight:bold;">
           {{ s.n_mapped }} / {{ s.n_attr }}
          </td>
        </tr>
      {% endfor %}
      </table>
      {% else %}
        <p>No sources are available!</p>
      {% endif %}
    </div>
{% endblock content %}

{% block jquery %}<script type="text/javascript" src="/static/js/jquery.sourceProcessor.js"></script>{% endblock jquery %}
